{% extends 'base.html' %}

{% block content %}
    <div id="wrapper">
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="upload/banner_07.jpg" alt="" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->

                       

                            <div class="widget">
                                <h2 class="widget-title">Popular Posts</h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        {% for m in most_view %}
                                        <a href="{% url 'post_single' m.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="{{ m.image.url }}" alt="" class="img-fluid float-left">
                                                <h5 class="mb-1">{{ m.title }}</h5>
                                                <small>{{ m.date | date:'d.m.Y' }}</small>
                                            </div>
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Recent Reviews</h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        {% for p in recent_post %}
                                        <a href="{% url 'post_single' p.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="{{p.image.url}}" alt="" class="img-fluid float-left">
                                                <h5 class="mb-1">{{ p.title }}</h5>
                                                <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                            </div>
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Follow Us</h2>

                                <div class="row text-center">
                                    {% for a in linkInst.all %}
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="{{a.url}}" class="social-button facebook-button"style="background: {{a.colorcode}};">
                                            <i class="fa {{a.icon.style}}"></i>
                                            <p>27k</p>
                                        </a>
                                    </div>
                                     {% endfor %}

                            <div class="widget">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                </div><!-- end banner -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
                            <div class="widget">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="upload/banner_03.jpg" alt="" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                    
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-grid-system">
                                <div class="row">
                                    {% for post in post_list %}
                                    <div class="col-md-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="{% url 'post_single' post.id %}" title="">
                                                    <img src="{{ post.image.url }}" alt="" class="img-fluid" style="height: 350px; width: 450px;">
                                                    <div class="hovereffect">
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta big-meta">
                                                <span class="color-orange"><a href="tech-category-01.html" title="">{{post.category}}</a></span>
                                                <h4><a href="{% url 'post_single' post.id %}" title="">{{post.title}}</a></h4>

                                                <p>{{ post.text|slice:200 }}</p>
                                                <small><a href="tech-single.html" title="">{{ post.date }}</a></small>
                                                <small><a href="tech-author.html" title="">by {{post.user}}</a></small>
                                                <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> {{post.hit_count}}</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->
                                     {% endfor %}
                                </div><!-- end row -->
                            </div><!-- end blog-grid-system -->
                        </div><!-- end page-wrapper -->

                        <hr class="invis3">

                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-start">
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        
        <div class="dmtop">Scroll to Top</div>  
    </div><!-- end wrapper -->
{% endblock content  %}
</body>