{% extends 'base.html' %}

{% block content %}
    <div id="wrapper">
        <section class="section single-wrapper">
            <div class="container">
                <div class="row">

                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-title-area text-center">
                                <ol class="breadcrumb hidden-xs-down">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Bosh sahifa</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'theLastpost' %}">Yangiliklar</a></li>
                                    <li class="breadcrumb-item active">{{ post.title | slice:'30' }}...</li>
                                </ol>

                                <span class="color-orange"><a href="{% url 'post_list' post.category.slug  %}" title="">{{ post.category }}</a></span>

                                <h3>{{post.title}}</h3>

                                <div class="blog-meta big-meta">
                                    <small><a href="tech-single.html" title="">{{ post.date | date:'d.m.Y' }}</a></small>
                                    <small><a href="tech-author.html" title="">by {{ post.user }}</a></small>
                                    <small><a href="#" title=""><i class="fa fa-eye"></i> {{ post.hit_count }}</a></small>
                                </div><!-- end meta -->

                                <div class="post-sharing">
                                    <ul class="list-inline">
                                        {% for a in linkInst.all %}
                                            <li><a href="{{ a.url}}" class="btn {{a.color.style}}"><i class="fa fa-{{a.icon.style}}"></i> <span class="down-mobile">{{ a.name }}</span></a></li>
                                        {% endfor %}
                                    </ul>       
                                </div><!-- end post-sharing -->
                            </div><!-- end title -->

                            <div class="single-post-media">
                                <img src="{{ post.image.url }}" alt="" class="img-fluid">
                            </div><!-- end media -->

                            <div class="blog-content">  
                                <div class="pp">
                                    <p>{{ post.text }}</p>
                                </div><!-- end pp -->
                            </div><!-- end content -->

                            <div class="blog-title-area">
                                <div class="tag-cloud-single">
                                    <small class="fw-25">Tags:  </small>
                                    {% for i in post.tag.all %}
                                    <span><a href="#" title="">{{ i.name }}</a></span>
                                    {% endfor %}
                                </div><!-- end meta -->

                               
                            </div><!-- end title -->

                            <hr class="invis1">


                            <hr class="invis1">

                       

                            <hr class="invis1">

                            <div class="custombox clearfix">
                                <h4 class="small-title">You may also like</h4>
                                <div class="row">
                                    {% for d in details %}
                                    <div class="col-lg-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="{% url 'post_single' post.id %}" title="">
                                                    <img src="{{ d.image.url }}" alt="" class="img-fluid" style="height: 250px;width: 300px;">
                                                    <div class="hovereffect">
                                                        <span class=""></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta">
                                                <h4><a href="{% url 'post_single' post.id %}" title="">{{ d.title }}</a></h4>
                                                <small><a href="blog-category-01.html" title="">{{ d.category }}</a></small>
                                                <small><a href="blog-category-01.html" title="">{{ d.date | date:'d.m.Y' }}</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->
                                     {% endfor %}
                                
                                </div><!-- end row -->
                            </div><!-- end custom-box -->

                            <hr class="invis1">

                           
                            <hr class="invis1">

                           
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="upload/banner_07.jpg" alt="" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Trend Videos</h2>
                                <div class="trend-videos">
                                    {% for s in sidebar %}
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="{% url 'post_single' s.id %}" title="">
                                                <img src="{{s.image.url}}" alt="" class="img-fluid">
                                                <div class="hovereffect">
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta">
                                            <h4><a href="{% url 'post_single' s.id %}" title="">{{s.title}}</a></h4>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->

                                    <hr class="invis">
                                    {% endfor %}

                                    <hr class="invis">
                                </div><!-- end videos -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Popular Posts</h2>
                                <div class="blog-list-widget">
                                    {% for m in most_view %}
                                    <a href="{% url 'post_single' m.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 justify-content-between">
                                            <img src="{{ m.image.url }}" alt="" class="img-fluid float-left">
                                            <h5 class="mb-1">{{ m.title }}</h5>
                                            <small>{{ m.date | date:'d.m.Y' }}</small>
                                        </div>
                                    </a>
                                    {% endfor %}>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Recent Reviews</h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">{% for p in recent_post %}
                                        <a href="{% url 'post_single' p.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="{{p.image.url}}" alt="" class="img-fluid float-left">
                                                <h5 class="mb-1">{{ p.title }}</h5>
                                                <span class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </span>
                                            </div>
                                        </a>
                                        {% endfor %} 
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Follow Us</h2>

                                <div class="row text-center">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button facebook-button">
                                            <i class="fa fa-facebook"></i>
                                            <p>27k</p>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button twitter-button">
                                            <i class="fa fa-twitter"></i>
                                            <p>98k</p>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button google-button">
                                            <i class="fa fa-google-plus"></i>
                                            <p>17k</p>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button youtube-button">
                                            <i class="fa fa-youtube"></i>
                                            <p>22k</p>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- end widget -->
                            <div class="widget">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="upload/banner_03.jpg" alt="" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

    
        <div class="dmtop">Scroll to Top</div>
        
    </div><!-- end wrapper -->
    {% endblock content  %}
  