<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load i18n %}

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Site Metas -->
<title>uznews</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="{% static 'images/favicon0.ico'%}" type="image/x-icon" />
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
<link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">
<link href="{% static 'style.css'%}" rel="stylesheet">
<link href="{% static 'css/responsive.css'%}" rel="stylesheet">
<link href="{% static 'css/colors.css'%}" rel="stylesheet">
<link href="{% static 'css/version/tech.css'%}" rel="stylesheet">

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <header class="tech-header header">
            <div class="container-fluid">
                <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="tech-index.html"><img src="images/version/tech-logo.png" alt=""></a>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class=" dropdown ">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Categories</a>
                                <ul class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                                    <li>
                                        <div class="container">
                                            <div class="mega-menu-content clearfix">
                                                <div class="tab">
                                                    {% for c in categories %}
                                                    <a class="tablinks" href="{% url 'post_list' c.slug %}">{{ c.name }}</a>
                                                    {% endfor %}
                                                </div>
                                            </div><!-- end mega-menu-content -->
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'theLastpost' %}">The lastest news</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-2">
                            <form class="d-flex" role="search" method="get" action="{% url 'post_search' %}">
                                <input class="form-control me-2" type="search" name="search_query" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                            <!-- {% if search_query %}
                            <h3>Search Results for "{{ search_query }}"</h3>
                            {% endif %}

                            {% for post in posts %}
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.content }}</p>
                            {% endfor %} -->
                        </ul>
                    </div>
                </nav>
            </div><!-- end container-fluid -->
        </header><!-- end market-header -->
        {% block content %}
        {% endblock content  %}
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="widget">
                            <div class="footer-text text-left">
                                <a href="index.html"><img src="images/version/tech-footer-logo.png" alt=""
                                        class="img-fluid"></a>
                                <p></p>
                                <div class="social">
                                    {% for a in linkInst.all %}
                                    <a href="{{a.url}}" data-toggle="tooltip" data-placement="bottom"><i
                                            class="fa {{a.icon.style}}"></i></a>

                                    {% endfor %}
                                </div>

                                <hr class="invis">

                                <div class="newsletter-widget text-left">
                                    <form class="form-inline">
                                        <input type="text" class="form-control" placeholder="Enter your email address">
                                        <button type="submit" class="btn btn-primary">SUBMIT</button>
                                    </form>
                                </div><!-- end newsletter -->
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Popular Categories</h2>
                            <div class="link-widget">
                                {% for category in categories %}
                                <ul>
                                    <li>
                                        <a href="{% url 'post_list' category.slug %}">
                                            {{ category.name }} <span>({{ category.post_count }})</span>
                                        </a>
                                    </li>
                                </ul>
                                {% endfor %}
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Copyrights</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'theLastpost' %}">The last post</a></li>
                                    <li><a href="{% url 'contact' %}">Contact us</li>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div>


            </div><!-- end container -->
        </footer>

        <!-- Core JavaScript
    ================================================== -->
        <script src="{% static 'js/jquery.min.js'%}"></script>
        <script src="{% static 'js/tether.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
        <script src="{% static 'js/custom.js'%}"></script>

</body>

</html>